/* Global */
* {
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
}


/* Layout */
.max-width {
  width: 100%;
  max-width: 1024px;
  padding: 1em;
}

.max-width-container {
  display: flex;
  justify-content: center;
}

.section-grid {
  display: grid;
  /* Create 12 columns for the grid. */
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.main > section:first-child {
  padding-top: 2em;
}

@media (width >= 600px) {
  .main > section:first-child {
    padding-top: 3em;
  } 
}

/* Layout - Global header */
.global-nav {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-rows: 2em;
  grid-template-areas: "hamburger logo .";
}

.global-nav__hamburger-button {
  grid-area: hamburger;
}

.global-nav__logo {
  grid-area: logo;
  justify-self: center;
  height: 65px;
  width: 180px;
  position: relative;
}

.global-nav__links {
  grid-area: links;
  display: none;
}

@media (width >= 600px) {
  .global-nav {
    grid-template-columns: min-content 1fr;
    grid-template-areas: logo links;
  }

  .global-nav__links {
    display: block;
  }

  .global-nav__hamburger-buttton {
    display: none;
  }

  .global-nav__logo {
    height: 90px;
    width: 250px;
  }
}

/* Layout - global footer */
.global-footer__grid {
  display: grid;
  gap: 2em;
  grid-template-areas: "copyright"
                       "links";
}

.global-footer__copyright {
  grid-area: copyright;
}

.global-footer__links {
  grid-area: links;
}

@media (width >= 600px) {
  .global-footer__grid {
    grid-template-areas: "links"
                         "copyright";
  }
}

.section-grid > * {
  grid-column: 1 / -1;
}

/* Layout - About page */
@media (width >= 600px) {
  .about-story__image {
    grid-column: 7 / 13;
  }

  .about-story__text {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }

  .about-shop__image {
    grid-column: 1 / 7;
  }

  .about-shop__text {
    grid-column: 8 / 13;
  }
}